BOT_TOKEN=8208808548:AAGYjjNDU79JP-0TRUxv0HuEfKBchlNVAfX
BOT_USERNAME=dzen17_bot
ADMIN_IDS=5446101221
ADMIN_PASSWORD=Solbon5796+-

VPN_PANEL_URL=http://147.45.158.158:2053
VPN_PANEL_USERNAME=dzen17
VPN_PANEL_PASSWORD=Solbon5796+-
VPN_INBOUND_IDS=1,2
VPN_PUBLIC_KEY=

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_PROVIDER_TOKEN=
TEST_YOOKASSA_TOKEN=

APP_URL=https://dzenvds.ru
JWT_SECRET=dzenvds-super-secret-key-2024

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=dzenvds@mail.ru
SMTP_PASS=vdsdzen17
